@media (max-width: 820px) {
  .clients {
    padding: 40px 0;
  }

  .clients-item:hover {
    border: 2px solid #eeeeee;
    box-shadow: none;
  }

  .clients-item-text {
    font-size: 12px;
  }

  .clients-item-name {
    font-size: 11px;
  }

  .clietns-item-position {
    font-size: 11px;
  }
}

@media (max-width: 370px) {
  .clients-item-img {
    margin: 10px 0;
  }

  .clients-item {
    padding: 10px;
  }
}
