@media (max-width: 990px) {
  .features {
    padding: 50px 0;
  }

  .features-item-text {
    font-size: 13px;
  }

  .features-icon-bg {
    width: 60px;
    height: 60px;
  }

  .additional-text {
    font-size: 13px;
  }
}

@media (max-width: 730px) {
  /* .features-wrapper {
    flex-direction: column;
  } */
}
