@media (max-width: 990px) {
  .features {
    padding: 50px 0;
  }

  .features-item-text {
    font-size: 13px;
  }

  .features-icon-bg {
    width: 60px;
    height: 60px;
  }

  .additional-text {
    font-size: 13px;
  }
}

@media (max-width: 530px) {
  .features {
    padding: 30px 0;
  }

  .features-wrapper {
    flex-direction: column;
  }

  .features-item {
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
    &:hover {
      box-shadow: none;
    }
  }

  .features-icon-bg {
    display: inline-block;
  }

  .features-item-text {
    width: auto;
    margin-bottom: 10px;
  }
}
