@media (max-width: 930px) {
  .news-item-title {
    font-size: 18px;
    margin: 20px 0 10px;
  }

  .news-item-text {
    font-size: 13px;
    margin-top: 10px;
  }

  .news-list-item-img {
    margin-right: 5px;
  }

  .news-list {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5px;
  }
}

@media (max-width: 820px) {
  .news-item:hover {
    border: 2px solid #eeeeee;
    box-shadow: none;
  }
}

@media (max-width: 680px) {
  .news {
    padding: 30px 0;
  }

  .news-item-title {
    font-size: 16px;
    margin: 10px 0;
  }

  .news-item-text {
    font-size: 11px;
  }
}

@media (max-width: 450px) {
  .news-item-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .news-item-img {
    width: 100%;
  }

  .news-item-content {
    width: 90%;
  }
}
