@media (max-width: 1000px) {
  .promo-img {
    width: 75%;
  }

  .promo-element {
    display: none;
  }
}

@media (max-width: 850px) {
  .promo {
    padding-top: 80px;
  }

  .promo-title {
    font-size: 45px;
  }

  .promo-text {
    font-size: 16px;
  }

  .promo-ellipse {
    display: none;
  }
}

@media (max-width: 700px) {
  .promo-title {
    font-size: 35px;
  }

  .promo-start-link-text {
    font-size: 13px;
  }
}

@media (max-width: 590px) {
  .promo {
    padding: 70px 0 30px;
  }

  .promo-img {
    display: none;
  }

  .promo-title {
    text-align: center;
  }

  .promo-text {
    text-align: center;
  }

  .promo-start {
    max-width: none;
    justify-content: center;
    column-gap: 30px;
  }
}
