@media (max-width: 1000px) {
  .title {
    font-size: 30px;
    &-small {
      font-size: 20px;
    }
  }
}

@media (max-width: 730px) {
  .title {
    font-size: 25px;
    &-small {
      font-size: 17px;
    }
  }
}
