.about {
  background: #fafafa url(../img/about/element.png) center -95px / cover no-repeat;
  position: relative;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-info {
  max-width: 515px;
  width: 100%;
}

.about-info-text {
  margin: 20px 0 35px;
}

.about-img {
  max-width: 605px;
  width: 100%;
}
