.features {
  padding: 100px 0;
}

.features-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.features-item {
  max-width: 370px;
  width: 100%;
  padding: 40px 10px 25px;
  &:hover {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  }
}

.features-icon-bg {
  width: 70px;
  height: 70px;
  background: rgba(242, 88, 34, 0.25);
  border-radius: 15px;
  position: relative;
}

.features-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features-item:nth-child(2) {
  .features-icon-bg {
    background: rgba(20, 146, 17, 0.28);
  }
}

.features-item:nth-child(3) {
  .features-icon-bg {
    background: rgba(255, 205, 29, 0.24);
  }
}

.features-item-text {
  color: #666;
  font-size: 15px;
  margin-bottom: 25px;
  width: 90%;
}

.features-item-btn {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 11px;
  background: transparent;
  border: none;
}

.additional-text {
  font-size: 14px;
  padding: 4px;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
}
