.header {
  padding-top: 20px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-text {
  color: #000;
  font-weight: 700;
  margin-left: 15px;
  span {
    color: #f25822;
  }
}

.menu {
  width: 80%;
}

.header-right {
  display: flex;
  align-items: center;
  max-width: 685px;
  width: 100%;
  justify-content: space-between;
}

.menu-item {
  position: relative;
}

.menu-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 50px;
}

.menu-link {
  text-decoration: none;
  color: #000;
  &:hover {
    color: #f25822;
  }
}

.menu-link-subnav::after {
  content: "⌵";
  display: inline-block;
  margin-left: 5px;
  transition: 0.3s;
}

.subnav {
  visibility: hidden;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  /* display: none; */
  transition: 0.4s;
  position: absolute;
  background: #f25822;
  top: 25px;
  left: 0;
  width: 90px;
  z-index: 50;
  list-style: none;
  border-radius: 0 0 8px 8px;
}

.menu-item {
  &:hover {
    .menu-link-subnav::after {
      transform: rotate(180deg);
    }
    .subnav {
      visibility: visible;
      opacity: 1;
      /* display: block; */
      user-select: auto;
      pointer-events: all;
      /*  &:hover {
        display: block;
      } */
    }
  }
}
