.services {
  padding: 90px 0 100px;
  background: #fafafa;
}

.services-top {
  max-width: 690px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.services-text {
  margin-top: 20px;
}

.services-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 55px;
}

.services-item {
  max-width: 370px;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  background: #ffff;
  &:hover {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
  }
}

.services-img {
  max-width: 370px;
  width: 100%;
}

.services-item-text {
  color: #aaa;
  font-size: 15px;
  margin: 20px 0 40px;
  display: inline-block;
  max-width: 310px;
  width: 100%;
}

.services-btn::after {
  content: "\1433";
  margin-left: 5px;
}
