.services {
  padding: 90px 0 100px;
}

.services-top {
  max-width: 690px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.services-text {
  color: #666666;
  font-size: 16px;
  margin-top: 20px;
}

.services-wraper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 55px;
}

.service {
  max-width: 370px;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  background: #ffffff;
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.service-text {
  color: #aaa;
  font-size: 15px;
  margin: 20px 0 40px;
  display: inline-block;
  max-width: 310px;
  width: 100%;
}
